{% extends "layout.html" %}
{% block body %}
<div class="container">
<h1 style="padding-top: 200px">Hello {{name}}!</h1>
{{message}}
<br><br>You may close this page.
<br />
<br><br>

<div style="font-size:10pt;"><strong>Disclaimer: </strong> Mythic Plus Bot does not store your credentials. 
Instead it stores a unique access token that is generated when you click the link and log into the Blizzard site. 
This token can only be used by this bot. This is 100% safe and tested by many people every day. Please enjoy,  
knowing your WoW account is safe with us!</div>
</div>
{% endblock %}