{% extends "layout.html" %}
{% block body %}
<div class="container">
<h1 style="padding-top: 200px">{{name}}</h1>
{{message}}
<br />
<br><br>
<div id="login_section">
    <a id="login_link" href="">
    <div style="display:inline-block;vertical-align: middle;">
      Log in with
    </div>
    <div style="display:inline-block;vertical-align: middle;" >
      <img style="float: left;"src="{{ url_for('static', filename='battle.net.png') }}" alt="battle.net image"/>
    </div>
    </a>
</div>
<div hidden="true" id="info_section">
  <p>Please click <a href="https://discord.com/api/oauth2/authorize?client_id=615575308313296909&permissions=2048&redirect_uri=https%3A%2F%2F90040ceab0094ad6a2e4a6c8c3376d89.vfs.cloud9.us-east-2.amazonaws.com%3A8080%2Fdiscordoauth%2Fcallback&scope=bot">this link</a> to add this bot to your discord.</p>
  <h3>Features:</h3>
  <ul>
    <li>Register your Discord account with your WoW account</li>
    <li>Add characters to track</li>
    <li>Check all tracked characters for their highest weekly key</li>
    <li>Get notifications if you haven't run a key with one of your characters yet</li>
  </ul>
</div>
<div style="font-size:10pt;"><strong>Disclaimer: </strong> Mythic Plus Bot does not store your credentials. 
Instead it stores a unique access token that is generated when you click the link and log into the Blizzard site. 
This token can only be used by this bot. This is 100% safe and tested by many people every day. Please enjoy,  
knowing your WoW account is safe with us!</div>
</div>
{% endblock %}